<canvas id="gioco"></canvas>
<script>
	var utente = <%-JSON.stringify(user)%>;
</script>
<script type="text/javascript" src="../bower_components/socket.io/socket.io.js"></script>

<!-- <script type="text/javascript" src="/js/socketprova.js"></script> -->
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/gameEngine.js"></script>
<script type="text/javascript" src="/js/map.js"></script>
<script type="text/javascript" src="/js/player.js"></script>
<script type="text/javascript" src="/js/solid.js"></script>
<script type="text/javascript" src="/js/oggetto.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
